.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fixed-add-btn {
  position: fixed;
  top: 10px;
  right: 10px;
}

.fixed-edit-btn {
  position:fixed;
  top: 100px;
  right:10px;
}

.fixed-delete-btn {
  position:fixed;
  top:190px;
  right:10px;
}

.pagination-btn {
  width:80%;
  height:40px;
  display: flex;
  list-style: none;
  justify-content: left;
  padding: 5px;
}

.pagination-btn a {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid lightskyblue;
  cursor: pointer;
}

.pagination-btn a:hover {
  color: white;
  background-color: lightskyblue;
}

.pagination-active a{
  color: white;
  background-color: lightskyblue;
}

.pagination-disabled a{
  color: white;
  background-color: gray;
  pointer-events: none;
  border: 1px solid black;
}
